body {
    background-image: url(https://wallpapercave.com/wp/wp14526394.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   font-family: 'Jersey 10';
   text-align: center;
}
#Back-Home2 {
    font-size: 100px;
}